In [1]:
import pandas as pd
import numpy as np
from numpy import zeros

In [2]:
#sklearn imports
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import preprocessing
from sklearn import cross_validation
from sklearn.metrics import classification_report

from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_val_score

/home/tasos/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
#load data
data = pd.read_csv('train_set.csv', sep="\t")

In [4]:
#create set from categories
le = preprocessing.LabelEncoder()
le.fit(data["Category"])
y = le.transform(data["Category"])
set(y)

{0, 1, 2, 3, 4}

In [5]:
y

array([0, 0, 0, ..., 2, 0, 4])

In [6]:
#import pipeline
from sklearn.pipeline import make_pipeline
#import model
from sklearn.svm import SVC

In [8]:
model=make_pipeline(preprocessing.StandardScaler(),SVC(C=1000,gamma=0.001, kernel='rbf') )

In [9]:
#import vectorizer and lsi
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.decomposition import NMF

In [10]:
#do vectorization
vectorizer = TfidfVectorizer(max_df=0.5,stop_words='english',use_idf=True)
X = vectorizer.fit_transform(data['Content'])
lsa=TruncatedSVD(n_components=100)
X=lsa.fit_transform(X)
X=preprocessing.Normalizer(copy=False).fit_transform(X)

In [10]:
#model.fit(X,y)

In [ ]:
#run model with 10_fold
predicted= cross_val_predict(model, X, y, cv=10)

In [11]:
#load data
data = pd.read_csv('test_set.csv', sep="\t")

In [12]:
#do vectorization
vectorizer = TfidfVectorizer(max_df=0.5,stop_words='english',use_idf=True)
X_test = vectorizer.fit_transform(data['Content'])
lsa=TruncatedSVD(n_components=100)
X_test=lsa.fit_transform(X_test)
X_test=preprocessing.Normalizer(copy=False).fit_transform(X_test)

In [13]:
model.fit(X,y)

Pipeline(memory=None,
     steps=[('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('kneighborsclassifier', KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=-1, n_neighbors=6, p=2,
           weights='distance'))])

In [14]:
y_pred=model.predict(X_test)

In [15]:
y_pred

array([3, 1, 1, ..., 1, 2, 3])

In [16]:
#import for ignore the famous error
import sys
import warnings

if not sys.warnoptions:
    warnings.simplefilter("ignore")

In [17]:
predicted_categories = le.inverse_transform(y_pred)
predicted_categories

array(['Politics', 'Film', 'Film', ..., 'Film', 'Football', 'Politics'],
      dtype=object)

In [18]:
#create csv
data_1={'Id':[''],
        'Predicted_Categories':['']
        }

In [19]:
df=pd.DataFrame(data_1,columns=['Id','Predicted_Categories'])

In [20]:
df.to_csv('testSet_categories.csv',sep='\t',index=False)

In [21]:
data2 = pd.read_csv('testSet_categories.csv',sep='\t')

In [22]:
data2

   Id  Predicted_Categories
0 NaN                   NaN

In [26]:
ids=data['Id']

In [23]:
row_count = len(data)
row_count

3067

In [27]:
for i in range(0,row_count):
    data2.ix[i,'Id']=ids[i]
    data2.ix[i,'Predicted_Categories']=predicted_categories[i]
    data2.to_csv('testSet_categories.csv',sep='\t',index=False)

In [28]:
data2

           Id Predicted_Categories
0         2.0             Politics
1        10.0                 Film
2        25.0                 Film
3        28.0                 Film
4        29.0             Business
5        33.0                 Film
6        34.0                 Film
7        37.0                 Film
8        39.0                 Film
9        40.0                 Film
10       44.0                 Film
11       56.0                 Film
12       66.0                 Film
13       75.0                 Film
14       77.0                 Film
15       85.0                 Film
16       89.0             Business
17       92.0                 Film
18      107.0                 Film
19      112.0                 Film
20      115.0                 Film
21      139.0                 Film
22      140.0             Business
23      152.0             Football
24      156.0                 Film
25      162.0                 Film
26      167.0             Business
27      170.0                 Film
28      171.0                 Film
29      173.0             Politics
...       ...                  ...
3037  15224.0                 Film
3038  15225.0             Business
3039  15228.0                 Film
3040  15234.0                 Film
3041  15236.0                 Film
3042  15239.0             Football
3043  15249.0             Football
3044  15251.0             Football
3045  15256.0                 Film
3046  15260.0                 Film
3047  15264.0                 Film
3048  15267.0                 Film
3049  15269.0             Football
3050  15272.0                 Film
3051  15273.0             Politics
3052  15276.0           Technology
3053  15278.0                 Film
3054  15284.0             Football
3055  15290.0                 Film
3056  15298.0                 Film
3057  15299.0             Football
3058  15302.0                 Film
3059  15304.0                 Film
3060  15305.0             Politics
3061  15315.0             Business
3062  15321.0             Football
3063  15322.0                 Film
3064  15325.0                 Film
3065  15332.0             Football
3066  15333.0             Politics

[3067 rows x 2 columns]

'Politics'